$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer p{
  margin-top:25px;
}

.price{
  font-size:20px; 
  text-align:center;
}

.line-through
{
	text-decoration: line-through;
}

.sale
{
	margin:0;
	margin-left:0;
	margin-right:0;
	padding-right: 5px;
	padding-left: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  #login
  {
    border-right:1px solid #ccc;
  }  
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  #login
  {
    border-right:1px solid #ccc;
  }  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {  
  #login
  {
    border-right:1px solid #ccc;
  }  
}